:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.word-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  padding: 2rem;
}
.letter,
.space {
  width: 2rem;
  height: 2rem;
}
.letter {
  border-bottom: 2px solid black;
}
.hangman-svg {
  width: 400px;
  height: auto;
}
@media (prefers-color-scheme: light) {
  /* :root {
  } */
}

.row button {
  background-color: lightblue;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  text-transform: uppercase;
  margin: 5px;
}

.row button:hover {
  background-color: darkblue;
  transition: background-color 0.2s ease;
}

.row button:disabled {
  background-color: lightgray;
  cursor: not-allowed;
}

.space-btn {
  width: 20rem;
  height: 2rem;
}
